<h2>Liste des Héros</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Score</th>
      <th>État</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let hero of heroes' >
      <td>{{ hero.id }}</td>
      <td>{{ hero.nom }}</td>
      <td>{{ hero.score }}</td>
      <td>{{ hero.enRepos ? 'Repos' : 'Actif' }}</td>
      <td>
        <button (click)="goToHeroDetails(hero.id)">Détails</button>
        <button (click)="deleteHero(hero.id)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>
